@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto"),
    url("./fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoSemibold";
  font-style: normal;
  font-weight: 600;
  src: local("Roboto Semibold"), local("RobotoSemibold"),
    url("./fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoBold";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("RobotoBold"),
    url("./fonts/Roboto-Bold.ttf") format("truetype");
}
